#root {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  min-height: 50vh; /* Full viewport height */
  margin: 0;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.cool-list {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the list items */
  justify-content: center; /* Center horizontally */
  list-style: none; /* Remove default bullets */
  padding: 0;
  white-space: pre-wrap; /* This will preserve newlines and other whitespace */
  
}
@media (min-width: 768px) {
  .cool-list {
    max-width: 50%; /* 50% max width for desktop */
    min-width: 50%; /* Set min-width to 50% for larger screens */
  }
}

/* Media query for smaller screens like phones */
@media (max-width: 767px) {
  .cool-list {
    max-width: 80%; /* 80% max width for smaller screens */
    min-width: 80%; /* 80% min width for smaller screens */
  }
}

.cool-list li {
  color: white; /* White text */
  padding: 8px;
  border: 1px solid white; /* White border for each item */
  margin: 3px; /* Space between items */
  border-radius: 3px; /* Slightly rounded corners */
  transition: background-color 0.5s ease-in-out;

  display: -webkit-box;
  -webkit-line-clamp: 3; /* Limit to 3 lines */
  -webkit-box-orient: vertical; /* Make sure the lines are stacked vertically */
  overflow: hidden; /* Hide any text that overflows */
  text-overflow: ellipsis; /* Add ellipsis (…) for the overflowing text */
  text-align: center;
}



/* Hover effect */
.cool-list li:hover {
  background-color: gray;
  cursor: pointer;
}


/* Style the input to match the <li> */
.cool-list input {
  width: 90%; /* Make input same width as <li> */
  padding: 8px;
  border: none;
  border-radius: 3px;
  background-color: #1a1a1a; /* Match background */
  color: white; /* Match text color */
  font-size: 16px; /* Match font size */
  text-align: center;
  outline: none; /* Remove default blue outline */
  font-family: inherit; /* Inherit font style */
}

