html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  
  #root {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    min-height: 50vh; /* Full viewport height */
    margin: 0;
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  }